Source: org.gnome.evince
Section: x11
Priority: optional
Maintainer: elementary Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/evince

Package: org.gnome.evince
Architecture: any
Depends: flatpak, ${misc:Depends}
Description: Evince flatpak'd for elementary OS
 Evince Document Viewer flatpak built against the elementary platform
